@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
:root{
    --header-height: 3.5rem;
    --first-color: hsl(216, 96%, 64%);
    --white-color: hsl(0, 0%, 100%);
    --dark-color: hsl(216, 26%, 11%);
    --dark-color-light: hsl(216, 14%, 24%);
    --body-color: hsl(216, 96%, 98%);
    --body-font:"Open Sans", sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background: #2e3842;
    background-position: center;
    background-size: cover;
    font-family: var(--body-font);
}
.form1{
    height: 360px;
    width: 360px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: var(--body-font);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: 0.4s ease;
  }
#lab1{
    text-align: left;
    color: whitesmoke;
}
#lab2{
    text-align: left;
    color: whitesmoke;
}
h2{
    text-align: center;
    color: whitesmoke;
}
#loginUsername{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: rgba(58, 57, 57, 0.75);
}
#loginPassword{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: rgba(58, 57, 57, 0.75);
}
#loginBtn{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 360px;
  }
#loginBtn:hover{
    cursor: pointer;
}
.form1:hover {
    transform: scale(1.1); /* Slightly zoom in */
    box-shadow: 0 0 50px #21b2a6; /* Glow effect */
  }
p{
    display: inline;
    color: whitesmoke
}
a:hover{
    color:#21b2a6
}
a:active{
    color:#2e3842
}
a{
    color:#21b2a6
}
#tog{
    border-radius: 15px;
}
#tog:hover{
    cursor: pointer;
}